body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #aaccc9;
}

canvas {
  border: 2px solid #000;
}

#score {
  font-family: Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
